@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');
table.diff {
    border: none;
    border-spacing: 4px;
    margin: 0;
    width: 100%;
    table-layout: fixed
}

table.diff td {
    padding: 0.33em 0.5em
}

table.diff td.diff-marker {
    padding: 0.25em
}

table.diff col.diff-marker {
    width: 2%
}

table.diff col.diff-content {
    width: 48%
}

table.diff td div {
    word-wrap: break-word
}

td.diff-otitle,
td.diff-ntitle {
    text-align: center
}

table.diff,
td.diff-otitle,
td.diff-ntitle {
    background-color: #ffffff
}

td.diff-lineno {
    font-weight: bold
}

td.diff-marker {
    text-align: right;
    font-weight: bold;
    font-size: 1.25em;
    line-height: 1.2
}

td.diff-addedline,
td.diff-deletedline,
td.diff-context {
    font-size: 88%;
    line-height: 1.6;
    vertical-align: top;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    border-style: solid;
    border-width: 1px 1px 1px 4px;
    border-radius: 0.33em
}

td.diff-addedline {
    border-color: #a3d3ff;
    color: #2d2d2d
}

td.diff-deletedline {
    border-color: #ffe49c;
    color: #2d2d2d
}

td.diff-context {
    background-color: #f7f7f7;
    border-color: #e6e6e6;
    color: #2d2d2d
}

.diffchange {
    font-weight: bold;
    text-decoration: none
}

.diffchange-inline {
    color: #2d2d2d
}

td.diff-addedline .diffchange,
td.diff-deletedline .diffchange {
    border-radius: 0.33em;
    padding: 0.25em 0
}

td.diff-addedline .diffchange {
    background: #d8ecff
}

td.diff-deletedline .diffchange {
    background: #feeec8
}

.diff-currentversion-title,
.diff {
    direction: ltr;
    unicode-bidi: embed
}

.diff-contentalign-right td {
    direction: rtl;
    unicode-bidi: embed
}

.diff-contentalign-left td {
    direction: ltr;
    unicode-bidi: embed
}

.diff-multi,
.diff-otitle,
.diff-ntitle,
.diff-lineno {
    direction: ltr !important;
    unicode-bidi: embed
}

:root {
    font-family: Rubik, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --width-max-large: 1080px;
}

* {
    box-sizing: border-box;
}

p {
    line-height: 160%;
}

/* Fandom button */
button {
    color: #0e191a;
    background-color: #DDD;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    cursor: pointer;
    font-family: Rubik, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .15px;
    line-height: 16px;
    margin: 0;
    outline: 0;
    padding: 7px 18px;
    text-decoration: none;
    transition-duration: .3s;
    transition-property: background-color, border-color, color;
    vertical-align: top;
    -webkit-appearance: none;
}

button:hover {
    background-color: #BBB;
    border-color: #BBB;
}

/* Checkbox */

input[type="checkbox"] {
    --active: #1a5eb8;
    --active-inner: #fff;
    --border: #bbc1e1;
    --background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 24px;
    width: 24px;
    border-radius: 3px;
    vertical-align: -6px;
    outline: none;
    display: inline-block;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
}

input[type="checkbox"]+label {
    --active: #14478b;
    --active-inner: #fff;
    --background: #EEE;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 3px;
    color: var(--c, #000);
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    margin-left: -40px;
    padding: 8px 16px 8px 44px;
    top: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
}

input[type="checkbox"]:after {
    content: "";
    display: block;
    left: 0;
    top: 50%;
    position: absolute;
    -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
}

input[type="checkbox"]:checked,
input[type="checkbox"]:checked+label {
    --b: var(--active);
    --c: #FFF;
}

input[type="checkbox"]:after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(43deg);
}

body {
    margin: 0 auto;
    padding: 0 10px;
    max-width: var(--width-max-large);
}

/* Tiles */
.tile {
    border-radius: 0;
    font-size: 14px;
    margin-bottom: 8px;
    text-align: left;
    width: 100%;
    padding: 16px;
}

/* Categories */
#categories {
    background: #EEE;
    margin: 12px 0;
    padding: 16px;
    line-height: 32px;
    vertical-align: middle;
}

.category,
#category-help {
    display: inline-block;
    margin-left: 12px;
    position: relative;
}

#next {
    background: #1a5eb8;
    color: #FFF;
    float: right;
}

#next:disabled {
    background: #BBB;
    cursor: not-allowed;
}

/* Tooltips */
.tooltip {
    background: #333;
    border-radius: 2px;
    bottom: 0;
    color: #FFF;
    font-size: 13px;
    line-height: 150%;
    left: 50%;
    margin-top: 10px;
    opacity: 0;
    padding: 6px 10px;
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(120%);
    transform: translateX(-50%) translateY(120%);
    white-space: nowrap;
    z-index: 2;
    position: absolute;
}

.tooltip.left {
    -webkit-transform: translateX(0%) translateY(120%);
    transform: translateX(0%) translateY(120%);
    left: 0;
}

.tooltip.right {
    -webkit-transform: translateX(0%) translateY(120%);
    transform: translateX(10%) translateY(20%);
    left: 100%;
}

.tooltip.top {
    -webkit-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%);
}

*:hover>.tooltip {
    display: block;
    opacity: 1;
    visibility: visible;
}